:root{
    --blue: #0c88f8;
    --salmon: #ff4e7b;
    --white: #f3f3f3;
    --black: #0e0e0e;
    --darkBlue: #0f5287;
    --lightBlue: #0a7cad;
}

*{
    border: none;
    padding: 0;
    margin: 0;
}

p, h1, h2, h3 {
    padding: 0px 10px;
}

h2 {
    font-size: 3vh;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: var(--darkBlue);
}

/* Main elements */
.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: var(--blue);
    color: var(--black);
    position: relative;
    background: transparent;
}

#covidBG {
    background-image: url(../img/covid19.png);
    background-repeat: none;
    background-size: cover;
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

#topWrapper {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

#title h1{
    font-size: 4vh;
    color: var(--salmon);
}

#title h3{
    font-size: 2vh;
    color: var(--white);
}

#input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

#countryInput {
    width: 50vw;
    min-width: 300px;
    height: 5vh;
    min-height: 50px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

::placeholder {
    color: var(--orange);
    font-size: 1.5vh;
}

#countryInput:focus {
    outline: none;
}

#enterCountry {
    background-color: var(--salmon);
    color: var(--black);
    width: 40vw;
    min-width: 275px;
    height: 2.5vh;
    min-height: 25px;
    border-radius: 4px;
    cursor: pointer;
}
#enterCountry:hover {
    transform: scale(1.1);
}

#bottomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--lightBlue), var(--darkBlue), var(--darkBlue));
}

#countryDisplay {
    width: 100%;
    height: 15%;
    text-align: center;
}

#countryName {
    margin: 10px 0px;
    color: var(--salmon);
}

#statsWrapper {
    width: 100%;
    height: 85%;
    display: grid;
    grid: auto / auto;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    z-index: 2;
}

.statBox {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}